save/checkpoints/inpainting/mackenzie_unet_diffusion_inpainter_audio/2024-05-31-11-27-56/*
save/groundtruth/mackenzie_norm/vocal/evaluation/*
save/groundtruth/mackenzie_norm/vocal/test/*
save/groundtruth/mackenzie_norm/vocal/train/*
utils/evaluation/phoneme_informed_note_level_singing_transcription/checkpoints/*
utils/evaluation/audioldm_eval/ckpt/*
**/__pycache__/
*.pyc
*.pt
*.pth
*.ckpt
*.json
*.txt
*.wav
*.csv
**/wandb
save/**/*.png
youtube_wav/